.about {
  padding-bottom: 80px;
  
  &--internal {
    padding-bottom: 20px;
  }
  
  .social__link svg {
    fill: @red;
  }
  
  time {
    opacity: 0.8;
  }
  
  a {
    color: @red;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  img {
    width: 49%;
    height: auto;
  }
  
  .link {
    display: block;
    margin-top: 40px;
  }
}

.about__info {
  width: 50%;
}

.about__img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  
  img {
    width: 100%;
    height: auto;
  }
}
