.about {
  padding-top: 50px;
  padding-bottom: 80px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  img {
    width: 50%;
    height: auto;
  }
  
  .link {
    display: block;
    margin-top: 40px;
  }
}

.about__info {
  width: 50%;
}
