.link {
  font-family: "Supermolot", "Arial", sans-serif;
  text-decoration: underline;
  .transition();
  
  &:hover,
  &:active {
    color: @red;
    text-decoration: none;
    .transition();
  }
}
